<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="RedisExchangeHosts" connectionString="127.0.0.1:6379,allowadmin=true" />-->
    <add name="RedisExchangeHosts" connectionString="127.0.0.1:6379,allowadmin=true,password=demo123" />
  </connectionStrings>
    <startup>
      
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>